.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: #e0e1e6;
    color:black;
    outline: 1px solid #888;
  }
  .operator {
    background-color: #fe9241;
    font-weight: bolder;
    color: #fff;
  }